@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*,
html {
  background-color: #f6f7fb;
  font-family: "Poppins", sans-serif;
}
body {
  max-width: 1200px;
  margin: auto;
}
header {
  display: flex;
  align-items: center;
  width: 100%;
}
.logo {
  color: #7549ff;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  padding: 5px 10px;
  transition: 0.5s;
}
.logo:hover {
  color: #fff;
  background-color: #7549ff;
  border-radius: 50%;
}
.navbar {
  margin-left: auto;
}
.navbar li {
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: #353535;
  padding: 5px 15px;
}
.navbar a:hover {
  background-color: #7549ff;
  color: #fff;
  border-radius: 25px;
  transition: 0.5s;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
}
li {
  font-size: 1rem;
  text-transform: uppercase;
  color: #353535;
  transition: 0.5s;
  cursor: pointer;
}

.home {
  display: flex;
  align-items: center;
  height: 90vh;
}
.info_name {
  font-size: 3rem;
  font-weight: bold;
  color: #333333;
  letter-spacing: 1.3px;
  margin-bottom: 15px;
}
.info_description {
  color: #7a7a7a;
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom: 30px;
}
.info_button {
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 5px 20px;
  background-color: #7549ff;
  color: #fff;
  border-radius: 30px;
  border: none;
  text-decoration: none;
}
.info_button:hover {
  background-color: #fff;
  color: #7549ff;
  transition: 0.5s;
}
